.article-listing {
  margin: 20px 0;
}

.article-listing span {
  color: #555;
  background-color: #EEE;
}

.article-listing.ng-enter {
  -webkit-transition: 0.6s ease-in-out all;
  transition: 0.6s ease-in-out all;
  opacity: 0;
}

.article-listing.ng-enter-active {
  opacity: 1;
}

.article-listing.ng-leave {
  -webkit-transition: 0s linear all;
  transition: 0s linear all;
  opacity: 1;
}

.article-listing.ng-leave-active {
  opacity: 0;
}

.article-listing.ng-move {
  -webkit-transition: 0s linear all;
  transition: 0s linear all;
  -webkit-box-shadow:inset 0px 0px 0px 1px #E7A1B0;
  box-shadow:inset 0px 0px 0px 1px #E7A1B0;
}

.article-listing.ng-move-active {
  
}