body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  font-family: inherit;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.75);
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

#base {
  margin: 10px 0 0 0;
}

#article-filter {
  margin: 0;
}

#article-count {
  text-align: center;
  line-height: 2em;
}

#article-listings {
  max-width: 600px;
  margin: 0 auto;
}

button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #2ECCFA;
  font-family: inherit;
  border: 1px solid #ccc;
  color: rgba(0,0,0,0.75);
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
}

.delete-article {
  position: relative;
  display: block;
  float: right;
  text-align: center;
  background-color: #EEE;
  color: #888;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 0 0 5px 5px;
  cursor: pointer;
}

.delete-article:hover {
  color: red;
}

span.article-title {
  display: inline-block;
  color: #666;
  /*background-color: #EEE;*/
  margin: 0 0 5px 0;
}

.article-extract {
  margin: 0;
  padding: 0;
}

.article-listing {
  position: relative;
  margin: 20px 0;
  padding-left: 10px;
  border-left: 1px solid #AAA;
}

.article-listing.ng-enter {
  -webkit-transition: 0.6s ease-in-out all;
  transition: 0.6s ease-in-out all;
  opacity: 0;
}

.article-listing.ng-enter-active {
  opacity: 1;
}

.article-listing.ng-leave {
  -webkit-transition: 0s linear all;
  transition: 0s linear all;
  opacity: 1;
}

.article-listing.ng-leave-active {
  opacity: 0;
}

.article-listing.ng-move {
  -webkit-transition: 0s linear all;
  transition: 0s linear all;
  -webkit-box-shadow:inset 0px 0px 0px 1px #E7A1B0;
  box-shadow:inset 0px 0px 0px 1px #E7A1B0;
}

.article-listing.ng-move-active {
  
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
    #article-filter {
      margin: 0;
      height: 44px;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    #article-filter {
      margin: 0;
      height: 44px;
    }
}